@import "compass/css3";
//@import "base";

//add the following variables to your _base.scss:
//-------------------------
$color_0: #666;
$color_1: #e5e5e5;
$color_2: #ccc;
$color_3: #d3d3d3;
$color_4: #c0c0c0;
$color_5: #e6e6e6;
//--------------------------

.iris-chat-module {
	width: 300px;
	margin: 20px auto;
}

.iris-chat-top-bar {
	background: $color_0;
	color: white;
	padding: 0.5em;
	height: 20px;
	h1 {
		display: inline;
		font-size: 1.1em;
	}
	.iris-chat-left {
		float: left;
	}
	.iris-chat-right {
		float: right;
		padding-top: 5px;
	}
}

.iris-chat-discussion {
	list-style: none;
	background: $color_1;
	margin: 0;
	padding: 0 0 50px 0;
	li {
		padding: 0.5em;
		overflow: hidden;
	}
}
.iris-chat-messages {
	background: white;
	padding: 10px;
	@include border-radius(2px);
	@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
	p {
		font-size: 0.8em;
		margin: 0 0 0.2em 0;
	}
	.iris-chat-time {
		font-size: 0.7em;
		color: $color_2;
	}
}
.iris-chat-footer {
	background: $color_3;
	padding: 10px;
	height: 30px;
	input {
		border: none;
		width: 80%;
		height: 100%;
	}
	button {
		border: 1px solid $color_4;
		background: $color_5;
		height: 100%;
		float: right;
	}
}
.iris-chat-self .iris-chat-messages {
	@include border-bottom-right-radius(0);
}
